<!DOCTYPE html>
<html>
<head>
	<title>Passport</title>
	 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
 
          
	<style rel="stylesheet">
		.cust {
			margin-top:100px;
			margin-left:500px; 
			
		}
		.bcust {
			margin-left:220px;
			margin-right: auto;
		}
	</style>
</head>
<body>
	<div class="row cust">
		<form class="col s8 " action="" method="post">
			<div class="row">
			<div class="row">
				<div class="input-field col s6">
				<input id="first_name" class="validate" type="text" name="username" placeholder="Username"><br>
			</div>
			</div>
			
			<div class="row">
			<div class="input-field col s6">
				<input id="password" class="validate" type="password" name="password" placeholder="Password"><br>
			</div>
			</div>
			<div class="row">
				<button class="btn waves-effect waves-light" type="submit" >Submit
    			
  				</button>
			</div>
				
			</div>
		</form>

	</div>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

 </html>