<!DOCTYPE html>
<html>
<head>
	<title>Passport</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

	<style rel="stylesheet">
		.cust {
			margin-top:100px;
			margin-left:500px; 
			
		}
		
		.titlesize {
			font-size: 10pt;
		}
	</style>
	
</head>
<body>
	<div class="row cust">
        <div class="col s6 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              
           	 <br>
						<% if (!isAuthenticated) { %>
						<span class="card-title titlesize">Login Form</span>
						<div class="card-action">
							<a  href="/login"> Log in here </a>
						</div>
						<% } else { %>
							<span class="card-title titlesize">You are in!</span><br>
							Hello, <%= user.name %>! <br>
							<div class="card-action">
								<a  href="/logout"> Logout </a>
							</div>
							
						<% } %>
						
            </div>
          </div>
        </div>
      </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

 </html>